@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


 :root {

  --cor-primaria: rgb(5, 3, 23);
  --cor-secundaria: darkorange;
  --cor-terciaria: rgb(151, 14, 39);
  --cor-hover:#272727; 
  --cor-fonte:rgb(203, 187, 187);

  --fonte-principal: "Montserrat", sans-serif;

 }

*{
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;

}
body {
background-color: var(--cor-primaria);
/* height: 100vh; */
color:var(--cor-fonte);
box-sizing: border-box;
}

.vermelho-destaque {
color:var(--cor-terciaria);
}


.titulo-header{
display: flex;
justify-content: space-between;
padding: 10px;

}

.menu-header{
display: flex;
align-items: center;
gap: 40px;
padding: 0.5% 10% 0% 0%;
font-size: 1.25rem;
font-weight: 380;
color:var(--cor-secundaria);

}


.menu-header__link{
  display: flex;  
  text-decoration: none;
  color: darkorange;
}

.imagem-perfil {   
border-radius: 10%;
scale: 80%;
width: 75%;

}

.conteudo{
display:flex;
align-items: center;
justify-content: space-between;
padding: 5% 10%;
gap: 85px  ;
width: auto;
}

.container-principal{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.container-texto-principal{
width: 80%;
padding-top: 40px;
}

.texto{
  font-size: 1.60rem;
}

.texto-destaque{
color:darkorange
}

.ancora-main{
display:flex;
text-align: center;
justify-content:space-between;
flex-direction: column;
margin: 2%;
margin-right: 50px; 
padding: 25px; 
width: 50%;  
font-size: 1rem; 
}

.style-ancoras {
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
gap: 40px;  
color: var(--cor-terciaria); 
width: auto;
}

.ancora-github{
display: flex;
padding: 18px;
border-radius: 16px;
font-weight: 480;
text-decoration: none;
border: 2px solid var(--cor-terciaria);


align-items: center;
gap: 10px;
color: var(--cor-secundaria);
}

.ancora-github:hover {
background-color:var(--cor-hover);    
}

.ancora-instagram {
display: flex;
padding: 18px;
border-radius: 16px;
font-weight: 480;
text-decoration: none;
border: 2px solid var(--cor-terciaria);

align-items: center;
gap: 10px;
color: var(--cor-secundaria);
}

.ancora-instagram:hover {
background-color: var(--cor-hover);   
}



.titulo__lista{
display: flex;
margin: 2%;
align-items:center;
font-size:1.25rem;
}

.itens__lista{
display:flex;
margin: 1%;
flex-direction: column;
gap: 10px;
margin: 2%;
}

.lista-destaque{
color:darkorange
}

.footer {
display: flex;
justify-content: center; 
background-color: var(--cor-hover);
padding: 10px;
font-weight: 400;
align-items: center;
}


/* Aqui se inicia o style da pagina about  */

.texto-about{
display: flex;
font-size: 1.56rem;
justify-content: space-between;
flex-direction: column;
gap: 50px;
}
.conteudo-about{        
display:flex;
align-items: center;
justify-content: space-between;
padding: 0px 10% 0px 10%;

}

.imagem-perfil-about{   
border-radius: 10%;
scale: 80%;
width: 75%;
}

@media (max-width:1200px ){

  .conteudo{
    display: flex;
    flex-direction: column;
  }

  .conteudo-about{
    display: flex;
    flex-direction: column-reverse;
  }

  .header{
    padding: 6%;
  }
} 


@view-transition{
  navigation: auto 
}

::view-transition-group(root){
  animation-duration: 0.75s;
}